<div class="container">
	<div class="row-fluid">
		<div class="span12 well">
			<input type="search" id="search" placeholder="Find anything..." />
		</div>
	</div>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<ul class="row unstyled" id="tracks"></ul>
		</div>
	</div>
</div>