<div id="controls">
	<%= link_to play_or_pause_player_path do %>
		<%= content_tag :i, '', :class => 'icon-stop', :id => 'play_or_pause' %>
	<% end %>

	<%= link_to clear_queue_index_path, :method => :delete, :title => 'Clear Queue' do %>
		<%= content_tag :i, '', :class => 'icon-signout' %>
	<% end %>

</div>