body { 
	background: transparent image-url('background.gif');

	.brand {
		background-color: white;
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin: 1% auto 5%;

		h1 {
			font-size: 35px;
			font-family: serif;
			text-align: center;
			padding-top: 75px;
		}
	}


}

#search {
	width: 96%;
	line-height: 200%;
	padding: 1%;
	margin: 1%;
	font-size: 125%;
}
