// Place all the styles related to the search controller here.
// They will automatically be included in application.css.

#search {
	width: 96%;
	padding: 1%;
	margin: 1%;
	font-size: 125%;
}


.search_activity {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin-top: 15px;
}


#tracks {
	li {
		display: block;
		background-color: white;
		padding: 2%;
		margin: 1% auto;
		font-size: 120%;
		line-height: 150%;

		i {
			text-align:center;
		}

		.play-btn {
			float: right;
		}
	}
}

